:root {
  --primary-color: #fff;
  --secondary-color: #a3a1a1;
  --font-size-large: 32px;
  --font-size-medium: 16px;
  --font-size-small: 14px;
  --font-weight: 700;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 1.5rem;
  width: 813px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0px 1px 4.2px 2px #0000000d;
}
.headText {
  font-weight: 800;
  font-size: var(--font-size-large);
}
.divContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.rowContainer {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.labelContainer {
  font-size: var(--font-size-medium);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.inputField {
  border: none;
  outline: none;
  flex: 1;
  background: none;
  padding-left: 10px;
}

.dropdown {
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  width: 22rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 24px 0px #0000001a inset;
  top: 3.8rem;
  left: 1rem;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}
.inputElement {
  padding: 0.625rem 1rem;
  display: flex;
  gap: 1rem;
  width: 22rem;
  cursor: pointer;
  border-radius: 6.25rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 24px 0px #0000001a inset;
}
.location {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.submit {
  padding: 0.625rem 1rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  width: 22rem;
  justify-content: center;
  color: var(--primary-color);
  border-radius: 6.25rem;
  background-color: var(--secondary-color);
}
.submit:hover {
  background-color: #dee0e2;
  color: #000;
}
.hiddenDateInput {
  position: absolute;
  top: -1000px; /* Moves the input off-screen */
  left: -1000px;
}
.datePicker{
  border: none;
  outline: none;
  background: none;
}